*{
	padding:0px;
	margin: 0px;
}

	body,html{
 		height: 100%;
 		padding: 0px;
 		margin:0px;
 	}
 	.navbar{

 		border:3px solid yellow;
 		height:10%;
 	}
 		.logo{
 			height: 30%;
 			width:10%;
 			border: 3px solid blue;
 			margin-top: 20px;
 		}

 .qaunttext{
			color: black;
			font-size: 300%;
			font-family: sans-serif;
			opacity: 40%;
						}
 	.first{

 		height: 100%;
 		text-align: center;
 		background-image: url();
 		background-attachment: fixed;
 		font-family: sans-serif;
 		letter-spacing: 6px;
 		border:3px solid green;
 	}
			 	.textareaheading{

			 	}
			 		.textareamain{
								border:3px solid violet;
								margin-left:30%;
								height: 100%;
								float: top;
							}

											.textarea{
												width:60%;
												height: 50%; 
												margin-top: 10%;
												margin-right: 100%;} 

														.simulate{
															height: 40px;
															width: 120px;
															margin-top: 1%;
															border-radius: 30px;
															border:3px solid black;
															background-color: transparent;
															border-width: 4px;

														}
					

 .secondmain{
		 height: 100%;
		 border:3px solid orange;
 	}